/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  display: grid;
  height: 140vh;
  grid-template-rows: 63px 1fr 50px;
  grid-template-columns: 18% 1fr;  
  grid-template-areas: "header header"
                        "sidenav container"
                        "footer footer";
                       
}

.Header{
  /* background-color:grey; */
  grid-area:header ; 
 
}

#header_1{
  background-color:#939490;
}

.header-r-1{
  display: flex;
  justify-items: flex-start;
}

.Sidenav{
  background-color: ghostwhite;
  grid-area:sidenav ;
}

.Container{ 
  grid-area:container ;
}

.Footer{
  background-color: black;
  grid-area:footer ;
  color: white;
  text-align: center;
}

.t-a-c{
  text-align: center;
  color:aliceblue;  
}

.h-a-h5{
  color:#9e1c38;
}
a{
  text-decoration: none;
}

